@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Divider  */
.divider {
    width: 100px;
    height: 3px;
    background: #0F9FF7;
}
/* Customize background colors */
.primary {
    background: #071229;
}
.secondary {
    background: #0F9FF7;;
}

/* Menu */
ul li {
    padding: .5rem ;
    transition: .3s;
    cursor: pointer;
}
ul li:hover {
    background: #071229;
}

.sign-in-sign-up-btn {
    border-radius: 50px;
    background: rgba(89, 89, 89, 0.40);
    position: absolute;
    display: flex;
    height: 41px;
    /* width: 169px; */
    right: 7px;
    top: 18px;
}

/* Sub menu 1 */
.sub-1{
    display: none;
}
.sub-1 li {
    width: 100%;
}
.service {
    position: static;
}
.service:hover .sub-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 22px;
    padding: 12px 10px;
    z-index: 99;
    margin: 0;
    text-align: left;
    border-radius: 0px 20px 20px 20px;
    background: #313131;
}

@media  screen and (min-width: 320px) {
    .sign-in-sign-up-btn{
        display: none;
    }
}

@media  screen and (min-width: 768px) {
    .sign-in-sign-up-btn{
        right: 30px;
        top: 18px;
    }
}
@media  screen and (min-width: 1024px) {
    .sign-in-sign-up-btn{
        right: 100px;
        top: 18px;
    }
}